


<select class="image-picker masonry show-labels show-html">
  <option data-img-label="Art Deco" data-img-src="https://photos-1.dropbox.com/t/2/AACndIPtFxYgRbE3JBxoC897M5d_Q6ZcvWHIJgHiFi3yiQ/12/67561526/png/32x32/1/_/1/2/pla1.png/CLbQmyAgASACIAMgBCAFIAYgBygBKAI/5Ak-5388Yo8nBB7Ser2A8051Zz-wnjEdhwXe9ANghJY?size=1024x768&size_mode=2" value="1">  Placard A  </option>

  <option data-img-label="At vero eos et accusamus et iusto odio." data-img-src="https://photos-3.dropbox.com/t/2/AAC0S3zudLF_R6Rjk7DQUDcWYHEpAYNgOYm_aaedIi8Eqw/12/67561526/png/32x32/1/_/1/2/pla2.png/CLbQmyAgASACIAMgBCAFIAYgBygBKAI/iyOShHp-c6E-DfTOzFKYD0Tflb0en8hC56pme1DWs-4?size=1024x768&size_mode=2" value="2">  Placard D  </option>

  <option data-img-label="Art Deco" data-img-src="https://photos-6.dropbox.com/t/2/AAAnpIDCdM-egpmozVwDCRTUTLDbd3Q0Fgoj1jwJCMxfRQ/12/67561526/png/32x32/1/_/1/2/pla3.png/CLbQmyAgASACIAMgBCAFIAYgBygBKAI/p03cjpzBaLGhO5uMXWNOGu2Y8Ayzp1UVZ0DAvBC4Nck?size=1024x768&size_mode=2" value="3">  Placard D  </option>

  <option data-img-label="Art Deco" data-img-src="https://photos-4.dropbox.com/t/2/AAAvH9WPhnVUVgjtyqoywNFGLcP6y_NeQbkO1QT0YK_UhQ/12/67561526/png/32x32/1/_/1/2/pla4.png/CLbQmyAgASACIAMgBCAFIAYgBygBKAI/1nSGc63i7hG9OIZZZWfFxuympBRbkvHSS0lH_VZv-cc?size=1024x768&size_mode=2" value="4">  Placard D  </option>


</select>

<script> 
 $("select").imagepicker({
          hide_select : true,
          show_label  : true
        })
</script> 

<style> 
.data-img-label{
float: left; 
  width:120px;
  padding:10px 30px;
  font-weight:bold;
}
</style> 